$color-dark-light: #222222;
$color-dark: #0a0a0a;
$color-white: #fff;
$color-red: rgb(120,4,16);

* {
    box-sizing: border-box;
}

// barra de rolagem
/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.589);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.637);
}

html, body, #app, #principal {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#app {
    min-width: 767px;
    overflow-x: auto;
}

// conteudo principal do site
#principal {
        background-color: $color-red;
        transition: background-color 1s ease;
        color: $color-white;
    
    // menu de navegacao lateral
    #latNav {
        max-width: 246px;
        background-color: $color-dark;

        // link da logomarca
        a {
            text-decoration: none;
            color: $color-white;
        }

        // lista de navegação lateral
        .nav {
            .nav-item {
                .nav-link {
                    color: $color-white;
                    fill: $color-white;
                    font-size: .9em;
                    font-weight: bold;
                    opacity: .8;
                    transition: opacity .3s ease;

                    svg {
                        margin-right: 13px;
                    }

                    &.ativo, &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        // de baixo da lista
        #underList {
            button {
                background-color: rgba(0,0,0,0);
                border: 0;
                display: flex;
                color: $color-white;
                opacity: .8;
                transition: opacity .3s ease;
                padding: 8px 24px;
                width: 100%;
                font-size: .9em;
                font-weight: bold;

                .plusBtn, .heartBtn, .flagBtn {
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .plusBtn {
                    background-color: $color-white;
                }
                
                .heartBtn {
                    background: linear-gradient(125deg, rgba(119,61,227,1) 41%, rgba(207,255,241,1) 100%);
                    fill: $color-white;
                }

                .flagBtn {
                    background-color: #0b582e;
                    fill: #1ed760;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        // lista de playlists na lateral
        #listaPlaylistLateral {
            width: 100%;
            overflow-y: auto;
            box-shadow: inset 0 30px 15px rgba($color-dark, .2);

            li {
                width: 100%;
                list-style-type: none;
                a {
                    font-size: .9em;
                    font-weight: 500;
                }
            }
        }

        // instalar aplicativo
        #instalarAplicativo {
            fill: $color-white;
            font-size: .9em;
            font-weight: 500;
            opacity: .8;
            transition: opacity .3s;

            svg {
                margin-right: 15px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    // conteudo principal (feed)
    #feed {
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, $color-dark-light 50%, $color-dark-light 100%);
        overflow-y: auto;

        // navegador superior do feed
        #topNav {
            transition: background-color 1s ease;
            position: sticky;
            top: 0;
            z-index: 999;

            // setas
            #arrowMenu {
                button {
                    border: none;
                    margin: 5px;
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                    background-color: $color-dark;
                    fill: $color-white;
                    opacity: .5;
                }
            }

            // botoes
            #btnTopNav {
                button#upgrade {
                    background-color: rgba($color-dark, .1);
                    color: $color-white;
                    padding: 2px 10px;
                    margin: 1px;
                    border-radius: 20px;
                    border: 1px solid $color-white;
                    opacity: .8;
                    font-weight: 500;
                    font-size: .9em;
    
                    &:hover {
                        background-color: rgba($color-dark, 1);
                        padding: 2px 11px;
                    }
                }

                #btnUsuario {
                    button {
                        background-color: rgba($color-dark, .4);
                        border: none;
                        border-radius: 50px;
                        padding: 3px;
                        padding-right: 10px;

                        .imgUsuario {
                            border-radius: 14px;
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                        }

                        &:focus {
                            box-shadow: 0 0 0 0;
                            border: 0 none;
                            outline: 0;
                        }
                    }
                }
            }
        }

        // feed do conteudo principal
        #main {
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, $color-dark-light 50%, $color-dark-light 100%);

            // seção inicial (header)
            #feedHeader {
                max-width: 1920px;
                #playlistsRecentes {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 0;
                    li {
                        list-style-type: none;
                        width: 32%;
                        border-radius: 5px;
                        margin: 7px 0;
                        cursor: pointer;
                        transition: background-color .3s ease;
                        background-color: rgba($color-white, .1);
                        display: flex;
                        align-items: center;

                        &:hover {
                            background-color: rgba($color-white, .3);
                        }

                        &:hover button.btn {
                            opacity: 1;
                            cursor: default;
                        }
                        
                        img {
                            width: 80px;
                            height: 80px;
                            border-radius: 5px 0 0 5px;
                        }

                        button.btn {
                            width: 48px;
                            height: 48px;
                            border-radius: 24px;
                            background-color: #1ed760;
                            transition: opacity .3s ease;
                            opacity: 0;

                            &:hover {
                                padding: 1px;
                                border: 0;
                            }
                        }

                        @media only screen and (max-width: 1186px) {
                            width: 49%;

                            img {
                                width: 64px;
                                height: 64px;
                            }
                        }
                    }
                }
            }

            // secao feed de playlists
            .feedPlaylist {
                max-width: 1920px;

                h4>a {
                    text-decoration: none;
                    color: $color-white;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .playlists {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    justify-content: space-between;
                    overflow-y: hidden;
                    height: 380px;

                    li {
                        width: 15%;
                        list-style-type: none;
                        background-color: rgba($color-white, .1);
                        padding: 15px 15px 0 15px;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color .3s;
                        position: relative;
                        margin-bottom: 100px;

                        img {
                            width: 100%;
                            border-radius: 5px;
                            margin-bottom: 17px;
                        }

                        span {
                            font-weight: 700;
                        }

                        p {
                            font-size: .9em;
                            line-height: 15px;
                            opacity: .8;
                        }

                        button.btn {
                            width: 48px;
                            height: 48px;
                            border-radius: 24px;
                            background-color: #1ed760;
                            transition: all .3s ease;
                            opacity: 0;
                            position: absolute;
                            right: 8px;
                            bottom: 80px;
                            cursor: default;

                            &:hover {
                                padding: 1px;
                                border: 0;
                            }
                        }

                        &:hover {
                            background-color: rgba($color-white, .2);
                        
                            button.btn {
                                bottom: 95px;
                                opacity: 1;
                            }
                        }  
                    }

                    @media only screen and (max-width: 2130px) { height: 360px; }
                    @media only screen and (max-width: 1920px) { height: 320px; }
                    @media only screen and (max-width: 1730px) { height: 300px; }


                    @media only screen and (max-width: 1512px) {
                        height: 295px;
                        li {
                            width: 18%;
                        }
                    }

                    @media only screen and (max-width: 1324px) {
                        height: 310px;
                        li {
                            width: 23%;
                        }
                    }
                    
                    @media only screen and (max-width: 996px) {
                        height: 295px;

                        li {
                            width: 32%;
                        }
                    }
                    @media only screen and (max-width: 796px) {
                        height: 310px;

                        li {
                            width: 48%;
                        }
                    }
                }
            }
        }
    }
}

// barra do audio do site
#audioBar {
    width: 100%;
    height: 90px;
    background-color: $color-dark-light;
    border-top: 1px solid rgba($color-white, .1);

    // descricao da musica
    #musicaPlay {
        width: 20%;
    }

    button.icones {
        background-color: rgba(0,0,0,0);
        fill: $color-white;
        border: none;
        opacity: .7;

        &:hover {
            opacity: 1;
        }
        
        &.aleatorio {margin: 5px 15px 5px 5px;}
        &.proximo {margin: 5px 5px 5px 15px; svg { margin-bottom: 4px;  } }
        &.anterior { transform: rotate(180deg); margin: 5px 15px 5px 5px; svg { margin-bottom: 4px; } }
        &.repetir {margin: 5px 5px 5px 15px;}
        &.legenda, &.lista, &.outrosDispositivos {padding-right: 15px;}
    }


    #caixaCentral {
        // secao dos botoes
        #caixaSetas {
            button.playPause {
                width: 35px;
                height: 35px;
                border-radius: 24px;
                background-color: $color-white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
        
                &:hover {
                    padding: 2px;
                }
            }   
        }
    
        #barraDeProgresso {
            small {
                color: rgba($color-white, .7);
                font-size: .9em;
                margin: 10px;
            }
            input[type="range"] {
                width: 25rem;
            }
        }
    }

    #configAudio {
        #volume {
            input[type="range"] {
                width: 5rem;
            }
        }
    }

    /*********** barra de volume e de progresso ***********/
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 5rem;
    }

    input[type="range"]:focus {
        outline: none;
    }
    
    /******** Chrome, Safari, Opera and Edge Chromium styles ********/
    /* slider track */
    input[type="range"]::-webkit-slider-runnable-track {
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 0.25rem;
    }
    
    /* slider thumb */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: -3.1999999999999997px; /* Centers thumb on the track */
        background-color: #22c925;
        border-radius: 0.5rem;
        height: .7rem;
        width: .7rem;
    }
    
    input[type="range"]:focus::-webkit-slider-thumb {
        outline: 3px solid #22c925;
        outline-offset: 0.125rem;
    }
    
    /*********** Firefox styles ***********/
    /* slider track */
    input[type="range"]::-moz-range-track {
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 0.25rem;
    }
    
    /* slider thumb */
    input[type="range"]::-moz-range-thumb {
        background-color: #22c925;
        border: none; /*Removes extra border that FF applies*/
        border-radius: 0.5rem;
        height: .7rem;
        width: .7rem;
    }
    
    input[type="range"]:focus::-moz-range-thumb{
        outline: 3px solid #22c925;
        outline-offset: 0.125rem;
    }

    @media only screen and (max-width: 1060px) {

        button.icones {
            svg { width: 15px; height: 15px; }
            &.legenda, &.lista, &.outrosDispositivos {padding-right: 8px;}
        }

        #caixaCentral {
            // secao dos botoes
            #caixaSetas {
                button.playPause {
                    width: 30px;
                    height: 30px;
                    padding: 0;

                    svg { width: 18px; height: 18px; }
                }   
            }
        
            #barraDeProgresso {
                small { font-size: .8em; }
                input[type="range"] {
                    width: 15rem;
                }
            }
        }
    }
}